<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="/css/style.css" />
    <title>new request</title>
  </head>
  <body>
    <h1>songwriter - Chords, Lyrics, Notation, Tabber</h1>
    <div class="container">
      <h3>new tablature request</h3>
      <form action="/" method="POST">
        artist: <input type="text" name="artist" <br /> 
        song title: <input type="text" name="title" <br /><br />
        comments: <br />
        <textarea id="notepad" name="comment" rows="30" cols="100"></textarea> <br />
        my name: <input type="text" name="author" <br /> 
        <input type="submit" name="act" value="submit request" /> <br />
      </form>
    </div>
  </body>
</html>
